In [1]:
import sys
import os
import getpass
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

user = getpass.getuser()
sys.dont_write_bytecode = True

sys.path.insert(0, '/Users/{}/Box/DataViz Projects/Utility Code'.format(user))

from utils_io import *  # initial imports
reload_module('utils_io')  # reload after update to utils_io.py
from utils_io import *  # reload reflects updates

## Pull HCD APR Project data

In [2]:
apr_id = 'briv-ikjp'
apr_df = pull_df_from_socrata(apr_id)

pulling data in 3 chunks of 13000 rows each
pulling chunk 0
pulling chunk 1
pulling chunk 2
took 6.7492 seconds

## Summarize by mtc_type and total_units

In [7]:
apr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30864 entries, 0 to 30863
Data columns (total 75 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   mtc_id                       30864 non-null  object
 1   mtc_type                     30667 non-null  object
 2   mtc_year                     30864 non-null  float64
 3   mtc_vlow_income_dr           30364 non-null  float64
 4   mtc_vlow_income_ndr          30360 non-null  float64
 5   mtc_vlow_tot                 30864 non-null  float64
 6   mtc_low_income_dr            30363 non-null  float64
 7   mtc_low_income_ndr           30358 non-null  float64
 8   mtc_low_tot                  30864 non-null  float64
 9   mtc_mod_income_dr            30366 non-null  float64
 10  mtc_mod_income_ndr           30385 non-null  float64
 11  mtc_mod_tot                  30864 non-null  float64
 12  mtc_above_mod_income         30824 non-null  float64
 13  mtc_total_units              30864 non-null  float64
 14  mtc_issue_dt                 30667 non-null  object
 15  mtc_address_full             30738 non-null  object
 16  mtc_geocode_address          30405 non-null  object
 17  mtc_geocode_type             30864 non-null  object
 18  mtc_mapped                   30864 non-null  bool
 19  mtc_lat                      30698 non-null  float64
 20  mtc_long                     30698 non-null  float64
 21  mtc_wkt                      30698 non-null  object
 22  mtc_pda                      30854 non-null  object
 23  mtc_tpa                      30854 non-null  object
 24  mtc_housing_element_site     30854 non-null  object
 25  mtc_notes                    0 non-null      float64
 26  jurs_name                    30864 non-null  object
 27  cnty_name                    30864 non-null  object
 28  year                         30864 non-null  float64
 29  prior_apn                    2983 non-null   object
 30  apn                          30680 non-null  object
 31  street_address               30686 non-null  object
 32  project_name                 14339 non-null  object
 33  jurs_tracking_id             23670 non-null  object
 34  unit_cat_desc                30864 non-null  object
 35  tenure                       30864 non-null  object
 36  vlow_income_dr               30864 non-null  float64
 37  vlow_income_ndr              30864 non-null  float64
 38  low_income_dr                30864 non-null  float64
 39  low_income_ndr               30864 non-null  float64
 40  mod_income_dr                30864 non-null  float64
 41  mod_income_ndr               30864 non-null  float64
 42  above_mod_income             30864 non-null  float64
 43  ent_approve_dt               5453 non-null   object
 44  no_entitlements              30864 non-null  float64
 45  bp_vlow_income_dr            30864 non-null  float64
 46  bp_vlow_income_ndr           30864 non-null  float64
 47  bp_low_income_dr             30864 non-null  float64
 48  bp_low_income_ndr            30864 non-null  float64
 49  bp_mod_income_dr             30864 non-null  float64
 50  bp_mod_income_ndr            30864 non-null  float64
 51  bp_above_mod_income          30864 non-null  float64
 52  bp_issue_dt                  17812 non-null  object
 53  no_bilding_permits           30864 non-null  float64
 54  co_vlow_income_dr            30864 non-null  float64
 55  co_vlow_income_ndr           30864 non-null  float64
 56  co_low_income_dr             30864 non-null  float64
 57  co_low_income_ndr            30864 non-null  float64
 58  co_mod_income_dr             30864 non-null  float64
 59  co_mod_income_ndr            30864 non-null  float64
 60  co_above_mod_income          30864 non-null  float64
 61  co_issue_dt                  13269 non-null  object
 62  no_other_forms_of_readiness  30864 non-null  float64
 63  extr_low_income_units        2053 non-null   float64
 64  approve_sb35                 30864 non-null  object
 65  infill_units                 15675 non-null  object
 66  fin_assist_name              474 non-null    object
 67  dr_type                      1110 non-null   object
 68  no_fa_dr                     5121 non-null   object
 69  term_aff_dr                  757 non-null    object
 70  dem_des_units                1413 non-null   float64
 71  dem_or_des_units             1171 non-null   object
 72  dem_des_units_own_rent       1142 non-null   object
 73  notes                        4474 non-null   object
 74  mtc_apn_fmt                  8893 non-null   object
dtypes: bool(1), float64(42), object(32)
memory usage: 17.5+ MB

In [14]:
(apr_df.loc[apr_df['mtc_year'] == 2019][['mtc_type','mtc_total_units','mtc_year']]
 .groupby(['mtc_type','mtc_year'])
 .aggregate(sum)
 .reset_index())

      mtc_type  mtc_year  mtc_total_units
0  CERTIFICATE    2019.0          13884.0
1  ENTITLEMENT    2019.0          31889.0
2       PERMIT    2019.0          19865.0